.container{
    display: flex;
    background-color: aqua;
    height: 1000px;
    justify-content: center;
    align-items: center;
}
.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
}
.box1{
    background-color: yellow;
    
    
}
.box2{
    background-color: green;
    /*flex-shrink: 2;*/
   /* flex-basis: 300px;*/
}
.box3{
    background-color:blue;
    /*align-self: flex-start;*/
    flex: 2 2 200px;
    
}
.box4{
    background-color: violet;
}
/* dekstop*/
/*mobile*/
/*tablet*/