h1{
    background-attachment:aqua;
}
/*#first_id{
    background-color: blue;
}*/
.first_class{
    background-color: aqua;
}

h1[draggable="true"]{
    background-color: brown;
}
body>h1{
    background-color: black;
}
/*child*/
