H2{
    background-color: aqua;
    width: 300px;
    height: 200px;
   /*
    border-width: 10px;
    border-style: solid;
    border-color: bisque;
    border-radius:  20px;
    shortcuts*/
    border: 5px brown solid;

}

ul{
    background-color: pink;
}
p{
    background-color: blue;
    border-width: 10px;
    border-style: solid;
    padding: 15px;

}
h4{
   /* background-color: blueviolet;
    border-left-width: 10px;
    border-color: black;
    border-style: solid;*/
    border-width: 10px 20px;
    border-style: solid;
    border-color: green;
}