body{
    background-color: aliceblue;
    margin:0;
    padding: 0;
    width:100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;   /* horizontal */
    align-items: flex-start;   /* top (use center for middle) */
}