body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: blue;
    padding-top: 50px;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 20px;
}






.board{
    
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap:1rem;
    justify-content: center;
    align-items: center;
   
    margin: 0;
}
.cell{
    height: 100px;
    width: 100px;
    
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    


}
#restartButton{
    display: block;
font-size: 20px;
margin-top: 15px;

    background-color: lightgreen;
    cursor: pointer;
}