*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: yellow;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box1,.box2{
    height: 200px;
    width: 200px;
    background-color: orangered;
    font-size: 4rem;
    border: 5px solid black;
     display: flex;
     gap: 8rem;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: linear;

}
.box1,.box2:hover{
    /*transform: translate(200px);*/
    /*transform: scale(2,3);
    transform: rotate(-600deg);
    transform: translate(200px,300px) scale(2) rotate(50deg);*/
    transform: rotate(45deg);
    transform-origin: bottom right;
}