*{
    margin: 0;
}
.first,.third{
    display: inline-block;
    height: 40vh;
    width: 20vw;
    background-color: red;
}
.second,.fourth{
    display: inline-block;
    height: 40vh;
    width: 60vw;
    background-color: red;
}
.second,.fourth{
    margin-left: 19vw;
}
.third,.fourth{
    margin-top: 20vh;
}