*{
    margin: 0;
}
.flag{
    width: 60vw;
    height: 40vh;
    background-color: white;
    position: relative;

}
.vertical{
    width: 6%;
    height: 60%;
    background-color: blue;

}
.horizontal{
    width: 10%;
    height: 60%;
    background-color: blue;
}