/*h1{
    color:red;
    background-color: black;

}
ul{
    color: blue;

    background-color: black;

}
.first{
    background-color: blue;
}
.second{
    background-color: aqua;
}



#third{
    background-color: coral;
}**/

h2[draggable="true"]{
    background-color: burlywood;

}
