body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, purple, blue);
    font-family: Arial;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input, button{
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button{
    background: purple;
    color: white;
    border: none;
    cursor: pointer;
}